In [2]:
# default_exp pictures

# Pictures

>  Create List with all pictures

Will use a csv file to store the list data

In [3]:
#hide
from nbdev.showdoc import *

In [4]:
#export 

import os
import pandas as pd
from os.path import isfile, join

The first step is to get all directories. The reason for this is that the same photo might be stored in different directories. But there also might be photos with the same name but with different content. We will need to compare all photos with the same name in the different directories.  
Therefore we start in building a pandas DataFrame with all essential data.  

It will contain the directory, the file name, the size and the different time stamps. If this information is not sufficient we will also need to read the picture pixel by pixel and compare.

We now start with the directory list. The root is the mapped MyCloud fileserver with the "My Pictures" folder. We will create an iteratively created list of subdirectories and append them to 'my_Dirs'.

In [5]:
#export

mypath = r"/media/mycloud/My Pictures"

def fast_scandir(dirname):
    subfolders= [f.path for f in os.scandir(dirname) if f.is_dir()]
    for dirname in list(subfolders):
        subfolders.extend(fast_scandir(dirname))
    return subfolders
my_Dirs = fast_scandir(mypath)

In [6]:
#hide 
print(len(my_Dirs))
for i in my_Dirs:
    print(i)

76
/media/mycloud/My Pictures/Pics_20120130
/media/mycloud/My Pictures/My Scans
/media/mycloud/My Pictures/IPhone_Mama_FOTOS
/media/mycloud/My Pictures/27.09.04
/media/mycloud/My Pictures/TMP
/media/mycloud/My Pictures/Oma und Opa
/media/mycloud/My Pictures/Album Art
/media/mycloud/My Pictures/MCC Opening Mexico
/media/mycloud/My Pictures/iCloud Photos
/media/mycloud/My Pictures/Hochzeit
/media/mycloud/My Pictures/Galaxy Note II
/media/mycloud/My Pictures/Family
/media/mycloud/My Pictures/Casamento Andreia
/media/mycloud/My Pictures/BlackBerry
/media/mycloud/My Pictures/Arthur
/media/mycloud/My Pictures/Andrea Haus
/media/mycloud/My Pictures/Ana
/media/mycloud/My Pictures/Aline
/media/mycloud/My Pictures/2006_11_25
/media/mycloud/My Pictures/2006_11_20
/media/mycloud/My Pictures/2006_11_09
/media/mycloud/My Pictures/moved_from_root
/media/mycloud/My Pictures/Saved Pictures
/media/mycloud/My Pictures/ControlCenter4
/media/mycloud/My Pictures/Camera Roll
/media/mycloud/My Pictures/Angelina
/media/mycloud/My Pictures/Pics_20120130/DCIM
/media/mycloud/My Pictures/Pics_20120130/DCIM/100D5000
/media/mycloud/My Pictures/My Scans/2008-12 (Dez)
/media/mycloud/My Pictures/My Scans/2008-11 (Nov)
/media/mycloud/My Pictures/IPhone_Mama_FOTOS/108APPLE
/media/mycloud/My Pictures/IPhone_Mama_FOTOS/107APPLE
/media/mycloud/My Pictures/IPhone_Mama_FOTOS/106APPLE
/media/mycloud/My Pictures/27.09.04/CD4
/media/mycloud/My Pictures/27.09.04/CD3
/media/mycloud/My Pictures/27.09.04/CD2
/media/mycloud/My Pictures/27.09.04/CD1
/media/mycloud/My Pictures/Album Art/Various Artists
/media/mycloud/My Pictures/Album Art/Van Morrison
/media/mycloud/My Pictures/Album Art/Tom Jones
/media/mycloud/My Pictures/Album Art/steve Winwood
/media/mycloud/My Pictures/Album Art/Slovak Symphony Orchester
/media/mycloud/My Pictures/Album Art/Slovak Chamber Orchestra
/media/mycloud/My Pictures/Album Art/Simply Red
/media/mycloud/My Pictures/Album Art/Schubert
/media/mycloud/My Pictures/Album Art/Radio Bratislava Symphony Orchestra
/media/mycloud/My Pictures/Album Art/Pearl Jam
/media/mycloud/My Pictures/Album Art/Midnight Oil
/media/mycloud/My Pictures/Album Art/Frederic Chopin
/media/mycloud/My Pictures/Album Art/Des'ree
/media/mycloud/My Pictures/Album Art/culcha candela
/media/mycloud/My Pictures/Album Art/Anna Maria Kaufmann
/media/mycloud/My Pictures/Album Art/Alfred Scholz
/media/mycloud/My Pictures/Album Art/Slovak Philharmonic Orchestra
/media/mycloud/My Pictures/Album Art/Various Artists/Os mais belos classicos
/media/mycloud/My Pictures/Album Art/Van Morrison/Open Air Festival Loreley1999
/media/mycloud/My Pictures/Album Art/Tom Jones/the Ultimate hit collection
/media/mycloud/My Pictures/Album Art/steve Winwood/Chronicles
/media/mycloud/My Pictures/Album Art/Slovak Symphony Orchester/Tchaikovsky
/media/mycloud/My Pictures/Album Art/Slovak Chamber Orchestra/Johann Sebastian Bach
/media/mycloud/My Pictures/Album Art/Simply Red/Greatest Hits
/media/mycloud/My Pictures/Album Art/Schubert/Symphony #5 & 8
/media/mycloud/My Pictures/Album Art/Radio Bratislava Symphony Orchestra/Tchaikovski Ballet Suites
/media/mycloud/My Pictures/Album Art/Radio Bratislava Symphony Orchestra/Brahms Grieg Berlioz
/media/mycloud/My Pictures/Album Art/Pearl Jam/Binaural
/media/mycloud/My Pictures/Album Art/Midnight Oil/20000 Watts
/media/mycloud/My Pictures/Album Art/Frederic Chopin/Frederic Chopin
/media/mycloud/My Pictures/Album Art/Des'ree/I Ain't Moving
/media/mycloud/My Pictures/Album Art/culcha candela/das beste
/media/mycloud/My Pictures/Album Art/Anna Maria Kaufmann/Das andere Leben
/media/mycloud/My Pictures/Album Art/Alfred Scholz/Popular Overtures
/media/mycloud/My Pictures/iCloud Photos/Uploads
/media/mycloud/My Pictures/ControlCenter4/SharePoint
/media/mycloud/My Pictures/ControlCenter4/Scan
/media/mycloud/My Pictures/ControlCenter4/OCR
/media/mycloud/My Pictures/ControlCenter4/Email

In [7]:
#export
stat_data = []
entry_data = []

for dirname in my_Dirs:
    with os.scandir(dirname) as dir_content:
        for entry in dir_content:
            if isfile(join(dirname, entry)):
                info = entry.stat()        
                stat_data.append(info)
                entry_data.append([dirname, entry])

In [8]:
#hide
print(len(stat_data))
print(len(entry_data))

print(entry_data[50:60])

6027
6027
[['/media/mycloud/My Pictures/Oma und Opa', <DirEntry 'P9020041.JPG'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0426.jpg'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0419.jpg'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0415.jpg'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0403.jpg'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0398.jpg'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0363.jpg'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0359.jpg'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0340.jpg'>], ['/media/mycloud/My Pictures/MCC Opening Mexico', <DirEntry 'IMG_0322.jpg'>]]

In [9]:
#export
df1 = pd.DataFrame(entry_data)

In [10]:
df1.rename(columns={0: "directory", 1: "file_name"}, inplace=True)
df1.head()

,directory,file_name
0,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0008.jpg'>
1,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0007.jpg'>
2,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0006.jpg'>
3,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0005.jpg'>
4,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0004.jpg'>

In [11]:
#export
df2 = pd.DataFrame(stat_data)
df2.rename(columns={ 0 : "st_mode", 1: "st_ino", 2 : "st_dev", 3 : "st_nlink", 4 : "st_uid", 5: "st_gid",}, inplace=True) 
df2.rename(columns={ 6 : "st_size", 7 : "st_atime", 8 : "st_mtime", 9 : "st_ctime"}, inplace=True)

In [12]:
df = pd.concat([df1, df2], axis=1)
df.head()

,directory,file_name,st_mode,st_ino,st_dev,st_nlink,st_uid,st_gid,st_size,st_atime,st_mtime,st_ctime
0,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0008.jpg'>,33261,157615585,77,1,0,0,801274,1226915253,1226915253,1226915253
1,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0007.jpg'>,33261,157615586,77,1,0,0,826741,1226915162,1226915162,1226915162
2,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0006.jpg'>,33261,157615587,77,1,0,0,750390,1226915101,1226915101,1226915101
3,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0005.jpg'>,33261,157615588,77,1,0,0,783234,1226915046,1226915046,1226915046
4,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0004.jpg'>,33261,157615589,77,1,0,0,774076,1226914986,1226914986,1226914986

In [17]:
df.dtypes

directory    object
file_name    object
st_mode       int64
st_ino        int64
st_dev        int64
st_nlink      int64
st_uid        int64
st_gid        int64
st_size       int64
st_atime      int64
st_mtime      int64
st_ctime      int64
dtype: object

In [21]:
test = df.loc[0,"file_name"]
print(type(test))
print(test.name)

<class 'posix.DirEntry'>
Val_Pagamento_2008_0008.jpg

In [24]:
test.stat()

os.stat_result(st_mode=33261, st_ino=157615585, st_dev=77, st_nlink=1, st_uid=0, st_gid=0, st_size=801274, st_atime=1226915253, st_mtime=1226915253, st_ctime=1226915253)

In [26]:
df["picture"] = df[; , "file_name"].name

In [27]:
for i in range(len(df)):
    df

,directory,file_name,st_mode,st_ino,st_dev,st_nlink,st_uid,st_gid,st_size,st_atime,st_mtime,st_ctime,picture
0,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0008.jpg'>,33261,157615585,77,1,0,0,801274,1226915253,1226915253,1226915253,file_name
1,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0007.jpg'>,33261,157615586,77,1,0,0,826741,1226915162,1226915162,1226915162,file_name
2,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0006.jpg'>,33261,157615587,77,1,0,0,750390,1226915101,1226915101,1226915101,file_name
3,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0005.jpg'>,33261,157615588,77,1,0,0,783234,1226915046,1226915046,1226915046,file_name
4,/media/mycloud/My Pictures/My Scans,<DirEntry 'Val_Pagamento_2008_0004.jpg'>,33261,157615589,77,1,0,0,774076,1226914986,1226914986,1226914986,file_name
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6022,/media/mycloud/My Pictures/Album Art/Frederic ...,<DirEntry 'digitalizar0001.jpg'>,33261,157597215,77,1,0,0,848327,1357408138,1357408138,1357408138,file_name
6023,/media/mycloud/My Pictures/Album Art/Des'ree/I...,<DirEntry 'Aint_movin.jpg'>,33261,157597216,77,1,0,0,9100,1357348565,1357348565,1357348565,file_name
6024,/media/mycloud/My Pictures/Album Art/culcha ca...,<DirEntry 'Folder.jpg'>,33261,157597217,77,1,0,0,21505,1357348416,1357348416,1357348416,file_name
6025,/media/mycloud/My Pictures/Album Art/Anna Mari...,<DirEntry 'anna_maria_kaufmann-das_andere_lebe...,33261,157597218,77,1,0,0,11517,1357348010,1357348010,1357348010,file_name
6026,/media/mycloud/My Pictures/Album Art/Alfred Sc...,<DirEntry '1112D2sBmTL._SL500_AA300_.jpg'>,33261,157597219,77,1,0,0,5118,1357350218,1357350218,1357350218,file_name